.Rproj.user
.Rhistory
.RData
.Ruserdata
suppa_analysis
*.html
*.rds
*.rda
event_models
maxentscan
data/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz
data/IHEC_metadata_harmonization.v1.3.extended.csv
data/gABC_GeneSummedEnhancer.txt.gz
data/GeneMaxPromoterSignal.txt.gz
processed_data
images
