.Rproj.user
.Rhistory
.RData
.Ruserdata
suppa_analysis
*.html
*.rds
*.rda
event_models
maxentscan
data/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz
data/IHEC_metadata_harmonization.v1.3.extended.csv
data/gABC_GeneSummedEnhancer.txt.gz
data/GeneMaxPromoterSignal.txt.gz
sample_dts
processed_data
images
rmats_out*
rmats_mapping/
splicing_analysis
splicing_ml/**/__pycache__/
splicing_ml/output/
*.pyc
wandb